// Fonts
$sansSerifFont: 'Avenir', 'Open Sans', sans-serif;
$serifFont: 'Amiri', serif;

// Site Structure
$appWidth: 100vw;
$appHeight: 100vh;
$headerHeight: 120px;
$footerHeight: 50px;
$lefterWidth: 120px;
$rightPageNavWidth: 360px;
$headingCardHeight: 240px;

$borderWidth: 3px;
$border: $borderWidth solid black;

$navBarWidth: 240px;
$buttonTextCenterAdjustment: 3px;

$flyoutFontSize: 1.75em;

// Color
$bgColor: #fefefe;