// Colors
$light-tan: #FFF6F2;
$light-orange: #FEE3D7;
$dark-orange: #FCD3C1;
$light-purple: #BC99C7;
$dark-purple: #572D85;
$bright-red: #E6432E;
$charcoal: #707070;
$dark-grey: #4B4B4B;
$shadow: #0000003e;

// Fonts
$standard-font-family: 'Muli', 'Avenir', 'Open Sans', 'Helvetica Neue', sans-serif;
$standard-body-font: 400, 1rem, $dark-grey; // 12px
$tutorial-title: 900, 2rem, $bright-red; // 25px
$menu-item: 700, 1rem, $dark-purple; // 14px
$action-button: 700, 1.2rem, $bright-red;

@mixin char-style($weight, $size, $color, $lh: false, $all-caps: false) {
    font-size: $size;
    font-weight: $weight;
    color: $color;

    @if $lh { line-height: $lh; }
    @if $all-caps { text-transform: uppercase; }
}

// Site Structure
$app-width: 100vw;
$app-height: 100vh;
$header-height: 50px;
$footer-height: 40px;
$righter-width: 170px;

// Border
$thick-border: 3px;
$medium-border: 2px;
$thin-border: 1px;
$border: $thick-border solid $dark-grey;

// Shadow
$standard-box-shadow: $shadow 0px 0px 4px 0px;

// Z-index
// Returns a z-index value of the requested name found in the z-index list
@function z($name) {
    @if index($z-indexes, $name) {
        @return (length($z-indexes) - index($z-indexes, $name)) + 1;
    } @else {
        @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
        @return null;
    }
}

// Z-index positions from high to low
$z-indexes: (
    "test-object", // Temporary
    "logo",
    "splash-page",
    "site-header",
    "tour-dashboard",
    "site-footer",
    "main-map"
);