// Colors
$light-tan: #fff6f2;
$light-orange: #fee3d7;
$dark-orange: #fcd3c1;
$dark-orange--shadow: #faaf8f;
$dark-orange--border: #f28d79;
$light-purple: #bc99c7;
$dark-purple: #572d85;
$bright-red: #e6432e;
$charcoal: #707070;
$dark-grey: #4b4b4b;
$shadow: #0000003e;

// Fonts
$standard-font-family: "Muli", "Avenir", "Open Sans", "Helvetica Neue",
  sans-serif;
$standard-body-font: 400, 1rem, $dark-grey; // 12px
$tutorial-title: 900, 2rem, $bright-red; // 25px
$menu-item: 700, 1.5rem, $dark-purple; // 14px
$action-button: 700, 1.2rem, $bright-red;
$legend-title: 700, 1rem, $dark-grey;
$legend-item-label: 700, 1rem, $dark-grey;
$info-bar-title: 700, 1.5rem, $dark-grey;

@mixin char-style($weight, $size, $color, $lh: false, $all-caps: false) {
  font-size: $size;
  font-weight: $weight;
  color: $color;

  @if $lh {
    line-height: $lh;
  }
  @if $all-caps {
    text-transform: uppercase;
  }
}

// Site Structure
$app-width: 100vw;
$app-height: 100vh;
$header-height: 65px;
$footer-height: 40px;
$righter-width: 250px;

// Border
$thick-border: 3px;
$medium-border: 2px;
$thin-border: 1px;
$border: $thick-border solid $dark-grey;

// Shadow
$standard-box-shadow: $shadow 0px 0px 4px 0px;

// Z-index
// Returns a z-index value of the requested name found in the z-index list
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

// Z-index positions from high to low
$z-indexes: (
  //Temporary
    "test-object",
  "logo",
  "tour-dashboard",
  "router-view",
  "site-header",
  "site-footer",
  "main-map"
);

// Mapbox Static Sizes
$mapbox-logo-height: 28px;
$mapbox-logo-width: 92px;

$map-right-shift: 10px;