/* STYLING FOR INSERTED HTML FROM DRUPAL */
@import "../styles/_settings";
// TODO: remove redundancy of variables between TextArticle and this
$pageWidth: 60vw;
$margin: calc(#{$pageWidth} / 8.5);
$activeMenuWidth: 20px;
$fontSize: 17px;

section {
  margin-bottom: 4em;
}

.article__body section:last-of-type {
  margin-bottom: 0;
}

section /deep/ * {
  font-size: 1.7em;
}

section /deep/ h2 {
  padding: calc(-1 * #{$margin} / 4) 0 calc(#{$margin} / 4) 0;
  font-size: 2.5em;
  line-height: 1.5em;
}

section /deep/ h3 {
  width: 70%;
  padding: calc(#{$fontSize} * 4) 0 calc(#{$fontSize} * 2) 0;
  margin: auto;

  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(#{$fontSize} + 5px);
  text-indent: 0;
  text-align: center;
}

section /deep/ h2 + h3 {
  padding-top: 0;
}

section /deep/ h4 {
  //width: calc(#{$pageWidth} / 2);
  text-indent: -30px;
  padding: 25px;

  outline: 4px #000;

  font-size: 2em;
  text-indent: 0;
  line-height: 125%;
}

section /deep/ h3 + h4 {
  padding-top: 0;
}

section /deep/ h1 span:before,
section /deep/ h2 span:before,
section /deep/ h4 span:before,
section /deep/ h5 span:before,
section /deep/ h6 span:before {
  content: ' ';
  display: block;
  white-space: pre;
}

section /deep/ h3 span:before {
  content: '';
  display: block;
}


section /deep/ h1 span,
section /deep/ h2 span,
section /deep/ h4 span,
section /deep/ h5 span,
section /deep/ h6 span {
  line-height: 0.8em;
  font-size: 0.8em;
  margin-left: 1em;
}

section /deep/ h3 span {
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
}

section /deep/ p {
  padding-bottom: 6px;

  text-align: justify;
  line-height: 150%;
  text-indent: 50px;
}

.article__biblio /deep/ p {
  font-size: 1.3em;
  text-align: left;
}

section /deep/ blockquote {
  padding: calc(#{$margin} / 2.5) calc(#{$margin} / 1.5);
  font-weight: lighter;
  border-left: 3px solid rgba(0, 0, 0, 0.08);
}

// TODO: change 'section /deep/ *' to not have to force 1em to two deep tags
section /deep/ a,
section /deep/ em,
section /deep/ ol {
  font-size: 1em;
}

section /deep/ ol {
  padding: 1em 0 1em 5em;

}

section /deep/ ol li {
  list-style-type: decimal;
  line-height: 1.3em;
}

section /deep/ blockquote p {
  text-indent: 0;
  font-size: 1em;
}

section /deep/ blockquote p span {
  font-size: 1em;
  font-style: italic;
  padding: 2em;
}

section /deep/ blockquote strong {
  font-weight: normal;
  font-size: 1.2em;
}